body,
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(197, 234, 234);
}
.wordle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.wordle-letter{
  display:inline-block;
  border: 1px solid rgb(45, 44, 44);
  width: 1.5rem;
  text-align: center;
  margin-right: 5px;
  background-color: #90ee90;
  color: #fff;
}
.title {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  margin: 2px;
  border: 2px solid rgb(159, 158, 158);
  font-size: 2rem;
}
.title p {
  backface-visibility: visible !important;
  animation-name: flipInX;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid {
  margin: 4px;
}

.pl{
  background-color: gold;
}
